.savoir-faire {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 33% 34% 33%;
    grid-template-areas: "exp pic for"
    "exp desc for"
    "sk sk sk";
    justify-content: center;
    height: 70%;
    width: 100%;
    .experience, .formations {
        margin: 10px;
        border : 5px solid $color2;
    }
    .experience {
        grid-area: exp;
    }
    .formations {
        grid-area: for;
    }
    .photo {
        grid-area: pic;
        height: 180px;
        width: 180px;
        border-radius: 50%;
        background: $color3;
        margin: auto;
    }
    .description {
        grid-area: desc;
        margin: 10px;
        border : 5px solid $color2;
    }
    .skills {
        grid-area: sk;
    }
}