.mainCadre {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px auto 20px auto !important;
    background: $color1;
    h1 {
        margin: 0;
        letter-spacing: 3px;
        font-weight: 300;
    }
    h2 {
        font-size: 1rem;
        letter-spacing: 2px;
        font-weight: 100;
    }
}