.pagePrint {
    background: $white;
    * {
        background: $white;
        color: black !important;
        box-shadow: 0 0 0 0 rgb(143, 143, 143);
        &::before {
            background: $white !important;
            color: black;
        }
    }
}